version: '3.9'

services:
  db:
    image: postgres:16
    container_name: go_db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: dbname
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  adminer:
    image: adminer
    container_name: go_adminer
    restart: always
    ports:
      - "8080:8080"

volumes:
  pgdata:
